section.about: .container.about__container
    .about__content
        h2.heading-two.about__heading Шесть причин использовать FastyVPN
        ul.about__list
            li.about__item.about__item--active
                .about__background
                    img.about__icon(src="img/about/icon-1.webp" alt="Telegram бот")
                .about__desc
                    h3.about__title 🤗 Управление VPN в привычном месте
                    .about__text
                        | Управление сменой страны 🌍, обновление подписки и её отмены происходит в удобном для Вас месте - в Вашем собственном мессенджере!
            li.about__item.about__item--active
                .about__background
                    img.about__icon(src="img/about/icon-2.webp" alt="Telegram бот")
                .about__desc
                    h3.about__title 🔒 Гарантия конфиденциальности Telegram
                    .about__text
                        | За сохранность ваших данных отвечает доказавший временем Telegram. Эта гарантия относится и к нашему продукту из-за особенности её распространения.
            li.about__item
                .about__background
                    img.about__icon(src="img/about/icon-3.webp" alt="Telegram бот")
                .about__desc
                    h3.about__title 🛡 Используется в обходе Великого Китайского Firewall’а
                    .about__text
                        | Управление сменой страны 🌍, обновление подписки и её отмены происходит в удобном для Вас месте - в Вашем собственном мессенджере!
            li.about__item
                .about__background
                    img.about__icon(src="img/about/icon-4.webp" alt="Telegram бот")
                .about__desc
                    h3.about__title 🚀 Без потерь в скорости
                    .about__text
                        | Наша разработка равномерно распределяет пользователей на все доступные сервера единожды! Поэтому у Вас не будут сбоев. Подключение всегда будет стабильным!
            li.about__item.about__item--active
                .about__background
                    img.about__icon(src="img/about/icon-5.webp" alt="Telegram бот")
                .about__desc
                    h3.about__title 💳 Оплата через Telegram
                    .about__text
                        | 🙅🏻‍♂️ Никаких данных о вашей карте мы не узнаем благодаря системе оплаты через Telegram. Только Вы и безопасная оплата Telegram по России и СНГ.
            li.about__item
                .about__background
                    img.about__icon(src="img/about/icon-6.webp" alt="Telegram бот")
                .about__desc
                    h3.about__title 😜 Доступность
                    .about__text
                        | Управление сменой страны 🌍, обновление подписки и её отмены происходит в удобном для Вас месте - в Вашем собственном мессенджере!