section.faq: .container.faq__container
    h2.heading.heading-two.faq__heading FAQ
    .faq__content
        .faq__user: img.faq__user-avatar(src="img/faq/user_avatar.webp" alt="Фото пользователя")
        ul.faq__list
            li.faq__item
                .faq__question Как отменить подписку 😑
                .faq__answer
                    .faq__desc
                        | 🚫 #[strong Этого не потребуется] #[br] Вы оплачиваете только за период действия подписки (1,3,6,12 месяцев), никаких автоматических списываний.
                    img.faq__avatar(src="img/faq/logo.webp" alt="Логотип FastyVPN")
            li.faq__item
                .faq__question Как отменить подписку 😑
                .faq__answer
                    .faq__desc
                        | 🚫 #[strong Этого не потребуется] #[br] Вы оплачиваете только за период действия подписки (1,3,6,12 месяцев), никаких автоматических списываний.
                    img.faq__avatar(src="img/faq/logo.webp" alt="Логотип FastyVPN")
            li.faq__item
                .faq__question Как отменить подписку 😑
                .faq__answer
                    .faq__desc
                        | 🚫 #[strong Этого не потребуется] #[br] Вы оплачиваете только за период действия подписки (1,3,6,12 месяцев), никаких автоматических списываний.
                    img.faq__avatar(src="img/faq/logo.webp" alt="Логотип FastyVPN")
            li.faq__item
                .faq__question Как отменить подписку 😑
                .faq__answer
                    .faq__desc
                        | 🚫 #[strong Этого не потребуется] #[br] Вы оплачиваете только за период действия подписки (1,3,6,12 месяцев), никаких автоматических списываний.
                    img.faq__avatar(src="img/faq/logo.webp" alt="Логотип FastyVPN")
            li.faq__item
                .faq__question Как отменить подписку 😑
                .faq__answer
                    .faq__desc
                        | 🚫 #[strong Этого не потребуется] #[br] Вы оплачиваете только за период действия подписки (1,3,6,12 месяцев), никаких автоматических списываний.
                    img.faq__avatar(src="img/faq/logo.webp" alt="Логотип FastyVPN")
            li.faq__item.faq__item--active
                .faq__question Как отменить подписку 😑
                .faq__answer
                    .faq__desc
                        | 🚫 #[strong Этого не потребуется] #[br] Вы оплачиваете только за период действия подписки (1,3,6,12 месяцев), никаких автоматических списываний.
                    img.faq__avatar(src="img/faq/logo.webp" alt="Логотип FastyVPN")
            li.faq__item
                .faq__question Как отменить подписку 😑
                .faq__answer
                    .faq__desc
                        | 🚫 #[strong Этого не потребуется] #[br] Вы оплачиваете только за период действия подписки (1,3,6,12 месяцев), никаких автоматических списываний.
                    img.faq__avatar(src="img/faq/logo.webp" alt="Логотип FastyVPN")
            li.faq__item
                .faq__question Как отменить подписку 😑
                .faq__answer
                    .faq__desc
                        | 🚫 #[strong Этого не потребуется] #[br] Вы оплачиваете только за период действия подписки (1,3,6,12 месяцев), никаких автоматических списываний.
                    img.faq__avatar(src="img/faq/logo.webp" alt="Логотип FastyVPN")
                .faq__answer
                    .faq__desc
                        | 🚫 #[strong Этого не потребуется] #[br] Вы оплачиваете только за период действия подписки (1,3,6,12 месяцев), никаких автоматических списываний.
                    img.faq__avatar(src="img/faq/logo.webp" alt="Логотип FastyVPN")
            li.faq__item
                .faq__question Как отменить подписку 😑
                .faq__answer
                    .faq__desc
                        | 🚫 #[strong Этого не потребуется] #[br] Вы оплачиваете только за период действия подписки (1,3,6,12 месяцев), никаких автоматических списываний.
                    img.faq__avatar(src="img/faq/logo.webp" alt="Логотип FastyVPN")
            li.faq__item
                .faq__question Как отменить подписку 😑
                .faq__answer
                    .faq__desc
                        | 🚫 #[strong Этого не потребуется] #[br] Вы оплачиваете только за период действия подписки (1,3,6,12 месяцев), никаких автоматических списываний.
                    img.faq__avatar(src="img/faq/logo.webp" alt="Логотип FastyVPN")
        .faq__user: img.faq__user-avatar.faq__user-avatar--mirror(src="img/faq/user_avatar.webp" alt="Фото пользователя")