section.final: .container.final__container
    .video
        video.video__media(src="video/promo.mp4" autoplay muted loop)
        .video__black
        .final__content
            h2.heading.heading-two.final__heading Попробуй наш VPN
            a.CTA.CTA--blue(href="https://t.me/FastyVpnBot" target="_blank" title="Открыть чат-бот FastyVPN в Telegram") Перейти в Telegram