section.hero: .container.hero__container
    include header.pug
    
    .hero__content
        .hero__main
            .hero__title
                h1.heading.heading-one.hero__heading VPN в Вашем #[span.heading--tg Telegram]
                p.subtitle.hero__subtitle Самое безопасное решение в&nbsp;защите Вашей конфиденциальности и&nbsp;анонимности стоимостью в #[span.subtitle--increase 🍫] на&nbsp;#[span.subtitle--increase 🖐🏻] устройств
            .action
                .action__desc Получи надёжный, конфиденциальный 
                    |и&nbsp;быстрый VPN #[strong БЕСПЛАТНО] на&nbsp;3&nbsp;дня 
                button.CTA(href="") Забрать
        .hero__promo
            img.hero__img(alt="Телеграм бот FastyVPN" src="img/hero/phone.webp")
