section.how#how: .container.how__container
    h2.heading.heading-two.how__heading Как это работает?
    .how__content
        .how__promo: .how__promo-content
            picture.how__img
                source(srcset="img/how_works/phone.webp" media="(max-width: 820px)")
                img.how__img(src="img/how_works/iphone.webp" alt="Видео инструкция по использованию Telegram бота")
            video.how__video(preload="auto" no-controls autoplay loop playsinline muted): source(src="video/instruction.mp4") 
        .how__messages.message
            ul.message__list
                li.message__item
                    | Перейдя по #[a.link(href="https://t.me/FastyVpnBot" title="ссылка на telegram-бота" target="_blank") этой ссылке] откроется Telegram 🦊 Fasty
                li.message__item
                    | #[strong FastyVPN] - поможет:
                    ul.comparison__list
                        li Получить и скачать ключ 🔑
                        li Сменить страну ✈️
                        li Поможет в настройках ⚙️
                li.message__item
                    | В FastyVPN есть видеоинструкции по настройке VPN на любом устройстве: iOS, iPadOS, MacOS, Android, Windows