section.how: .container.how__container
    h2.heading.heading-two.how__heading Как это работает?
    .how__content
        .how__promo: .how__promo-content
            picture.how__img
                source(srcset="img/how_works/phone.webp" media="(max-width: 820px)")
                img.how__img(src="img/how_works/iphone.webp" alt="Видео инструкция по использованию Telegram бота")
            video.how__video(preload="auto" no-controls autoplay loop playsinline muted): source(src="video/instruction.mp4") 
        .how__messages.message
            ul.message__list
                li.message__item
                    | Перейдя по #[a.message__item--link(href="https://t.me/FastyVpnBot" title="ссылка на telegram-бота" target="_blank") этой ссылке] откроется Telegram где Вас будет приветствовать 🦊 Fasty, который за кратчайшие сроки поможет в установке и настройке VPN 
                li.message__item
                    | #[strong FastyVPN] - это Ваш клиент по управлению VPN, где Вы можете получить и скачать ключ 🔑, сменить страну ✈️, обратиться в тех. поддержку ⚙️
                li.message__item
                    | Также у нас есть видеоуроки по активации ключа на Android и IOS. Активация не займет и 3-х минут ⏳ 
                li.message__item
                    | Вы можете попробовать наш VPN Совершенно Бесплатно 🆓 Чтобы получить это предложение, введите промокод в разделе оплаты ♥
                li.message__item.message__button 
                    button(onclick="copyClipBoard()") Скопировать: 3DAYSFREE
                li.message__item
                    | 🥳 Поздравляем! Вы используете #[strong безлимитный], #[strong безопасный] и #[strong быстрый] VPN - #[strong FastyVPN] 