section.price: .container.price__container
    h2.heading.heading-two.price__heading Тарифы
    .price__content
        ul.price__list
            li.price__item
                header.price__header
                    .price__img: img.price__icon(src="img/prices/icons/rocket.webp" alt="Иконка ракеты")
                    h3.price__title 🔥 Скоростной - от&nbsp;100&nbsp;₽
                footer.price__footer 
                    .price__comparison.comparison
                        ul.comparison__list 
                            li Простая установка за 3 минуты
                            li До 5 устройств 
                    a.CTA.CTA--blue.price__CTA(href="https://t.me/FastyVpnBot" target="_blank"  title="Открыть чат-бот FastyVPN в Telegram") Перейти в Telegram
            li.price__item
                header.price__header
                    .price__img: img.price__icon(src="img/prices/icons/gift.webp" alt="Иконка ракеты")
                    h3.price__title 😍 Бесплатный
                footer.price__footer
                    .price__comparison.comparison
                        ul.comparison__list 
                            li Простая установка за 3 минуты
                            li До 5 устройств 
                    .price__comparison.comparison
                        ul.comparison__list 
                            li Доступ на 3 дня 
                    button.CTA.price__CTA() Скопировать: 3DAYSFREE
            li.price__item
                header.price__header
                    .price__img: img.price__icon(src="img/prices/icons/crown.webp" alt="Иконка ракеты")
                    h3.price__title.price__title--premium 💎 Премиальный - от 1&nbsp;250&nbsp;₽
                footer.price__footer
                    .price__comparison.comparison.comparison--premium
                        ul.comparison__list.comparison__list--premium
                            li 🤗 Простая установка за 3 минуты
                            li 😏 Неограниченное количество устройств
                            li 😎 Собственный выделенный сервер
                    a.CTA.CTA--blue.price__CTA(href="https://t.me/FastyVpnBot" target="_blank" title="Открыть чат-бот FastyVPN в Telegram") Перейти в Telegram