.header {
    background-color: #f0f3f69f;
    backdrop-filter: blur(15px);
    @include adaptive($tablet) {
        background-color: unset;
        backdrop-filter: unset;
        border-radius: 0;
    }
    border-radius: 2rem;
    font-size: .8rem;
    font-weight: 600;
    padding: .3em 1.6em;
    &__container {
        box-sizing: content-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position:fixed;
        z-index: 10;
        width: 90vw;
        max-height: none;
        height: 8vh;
        left: 50%;
        top: 3%;
        transform: translateX(-50%);
        @include adaptive($tablet) {
            top: 0;
            display: flex !important; 
        }
    }
    &__container * {
        max-height: inherit;
    }
    &__content {
        display: flex;
        height: inherit;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
    }
    &__logo {
        display: inline-block;
        height: inherit;
        flex-grow: 1;
        @include adaptive($tablet) {
            flex-grow: 0;
        }
        &-img {
            width: 3.75rem;
            height: inherit;
        }
    }
    &__nav {
        flex-grow: 9;
        @include adaptive($tablet) {
            display: none;
        }
    }
    &__support {
        flex-grow: 0;
        &-list {
            @include adaptive($tablet) {
                display: none;
            }
        }
    }

    &__hamburger {
        display: none;
        @include adaptive($tablet) {
            display: block;
        }
    }
}