.hero {
    background:  
    linear-gradient(180deg, rgba(52, 45, 48, 1) 0%, // 
    rgba(26, 20, 21, 0.72) 45.79%, //
    rgb(22, 19, 19) 50.35%,//
    rgba(8, 7, 7, 1) 85.06%,//
    #0d0a0b91 100%), url(img/textures/cubes.webp);
    background-blend-mode: color-burn;

    &__container {
        display: flex;
        flex-direction: column;
        @include adaptive($tablet) {
            padding-block: 1.3rem;
        }
    }

    &__content {
        height: 80%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include adaptive($tablet) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        @include adaptive($tablet) {
            gap: .9rem;
        }
    }
    &__subtitle {
        @include adaptive($mob) {
            font-size: 2.4vmax;
        }
    }
    &__main {
        max-width: 30rem;
        flex-grow: 1;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        @include adaptive($tablet) {
            flex-grow: 1;
            width: unset;
            gap: 1rem;
            justify-content: start;
        }
    }
    &__promo {
        flex-grow: 1;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptive($tablet) {
            width: unset;
            height: 60vh;
        }
    }
    &__img {
        height: 100%;
        @include adaptive($laptop) {
            height: 70vmin;
        }
        @include adaptive($tablet) {
            height: 85%;
        }
    }
    &__CTA {
        white-space: nowrap;
        @include adaptive($tablet) {
            white-space:normal;
            font-size: 2.2vmax;
        }
    }
}

.action {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__desc {
        font-size: 1rem;
        line-height: 1.2em;
        @include adaptive($tablet) {
            font-size: 2.2vmax;
        }
        &::after {
            content: '👉';
            @include adaptive($tablet) {
                display: block;
                content: '👇';
            }
        }
    }
    @include adaptive($tablet) {
        gap: .3rem;
        text-align: center;
        flex-direction: column;
    }
}
