$font-size: 24px;

// Adaptives
$mob: 480px;
$tablet: 820px;
$laptop: 1024px;

// Colors:

$black: #181213;
$silver: #F0F3F6;
$blue: #00A9DC;
$orange: #FD7655;
$accent-gradient: linear-gradient(90deg, rgba(174, 100, 249, 0.8) 0%, rgba(206, 43, 43, 0.8) 100%);
$gold: linear-gradient(90deg, #D56718 -0.03%, #EAB667 99.97%);
$message: linear-gradient(180deg, #453241 0%, #3B2935 100%);