$font-size: 24px;

// Adaptives
$mob: 480px;
$tablet: 768px;
$laptop: 1024px;

// Colors:

$black: #181213;
$silver: #F0F3F6;
$blue: #00A9DC;
$orange: #FD7655;
$accent-gradient: linear-gradient(90deg, rgba(174, 100, 249, 0.8) 0%, rgba(206, 43, 43, 0.8) 100%);