html,
body {
  height: 100%;
  position: relative;
    &.locked {
      overflow: hidden;
  }
}

:root {
  font-size: $font-size;
  @include adaptive($laptop) {
    font-size: 21px;
  }
  @include adaptive($tablet) {
    font-size: 3vmin;
  }
  font-weight: normal;
  font-variant-numeric: lining-nums;
  line-height: 1.4em;
  color: #fff;
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button {
  font-variant-numeric: lining-nums;
  cursor: pointer;
  outline: none;
  color: inherit;
  background: none;
  border: none;
}

body {
  background-color: $black;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: max(calc(100vw - 5rem), 90%);
  padding-block: 1.3rem;
  max-height: 100vh;
  height: 100vh;
  margin: 0 auto;
  @include adaptive($tablet) {
    padding-block: 4rem;
  }
  @include adaptive($mob) {
    padding-block: 6rem;
  }
}

@include adaptive($mob) {
  .wrapper {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-content {
      position: relative;
      flex: 1;
      transition: 0.3s all ease;
      will-change: transition;
    }
  }
}


.logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.support {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    text-decoration: underline;
}
  &__img {
    width: 16px;
    height: 16px;
  }
}

.heading {
  font-family: Commissioner;
  font-weight: 500;
  margin: 0;
  &-one {
    font-size: 2.67rem;
  }
  &-two {
    font-size: 2rem;
    margin-bottom: 1.3rem;
    flex-grow: 0;
    @include adaptive($tablet) {
      font-size: 2.5rem;
  }
  }
  &--tg {
    font-family: Raleway;
    color: $blue;
    font-weight: 600;
  }
}

.subtitle {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4em;
  &--increase {
    font-size: 1.7rem;
  }
  @include adaptive($tablet) {
    text-align: center;
  }
}

.CTA {
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  padding: 0.7em ;
  background-color: $orange;
  border-radius: 2.5rem;
  font-size: 1.8vmax;
  font-weight: 600;
  @include adaptive($tablet) {
    font-size: 1.7rem;
  }
  &--blue {
    background-color: $blue;
  }
}

.hamburger-stick {
  &__list {
    display: flex;
    flex-direction: column;
    gap: .5em;
  }
  &__item {
    display: inline-block;
    width: 6vmin;
    height: .6vmin;
    background-color: $silver;
  }
}
.hamburger {
}

.dn {
  display: none !important;
}

.close__icon {
  width: inherit;
  height: inherit;
}

.menu {
  &__list {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  &__link {
    font-family: Commissioner;
    font-size: 5vmax;
  }
}

.link {
  text-decoration: underline;
  color: $blue;
}

.owl {
  &-dot {
    width: 1rem;
    height: 1rem;
    background: $silver !important;
    border-radius: 50%;
    &.active {
      background: $blue !important;
    }
  }
  &-dots {
    min-height: 3rem;
    display: flex;
    justify-content: center;
    gap: .3rem;
    align-items: center;
  }
}