extends pug/layout/template.pug

append variables
  - title = 'VPN в Вашем Telegram';
  - mainCSS = 'main.min.css';

append links
  link(rel="shortcut icon", href="img/favicon.webp", type="image/x-icon")

append content
  include pug/blocks/hero.pug
  include pug/blocks/about.pug
  include pug/blocks/how.pug
  include pug/blocks/prices.pug
  include pug/blocks/faq.pug
  include pug/blocks/final.pug

append scripts
  script(src="main.min.js")
  script(type="html/template" id="overlay")
    a(href="#" class="close overlay__close")
      svg.close__icon
        use(xlink:href="sprite.svg#close")
    nav.menu.overlay__menu
      ul.menu__list.overlay__list
        li.menu__item: a.menu__link(href="#about" data-to=".about") О нас
        li.menu__item: a.menu__link(href="#how" data-to=".how") Инструкция
        li.menu__item: a.menu__link(href="#price" data-to=".price") Тариф
        li.menu__item: a.menu__link(href="#faq" data-to=".faq") FAQ
        li.menu__item: a.menu__link(href="#final" data-to=".final") Бонус